.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: black;
  color: white;

  font-family: sans-serif;
}

.game {
  display: grid;

  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  
  font-size : 90px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100px;
  border: 3px solid white;

  font-variant: small-caps;
  /* https://www.maujor.com/tutorial/propriedades-css-para-estilizacao-de-fontes.php */
}

.square:nth-child(1) {
  border: none;
}

.square:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

.square:nth-child(3) {
  border: none;
}

.square:nth-child(4) {
  border-right: none;
  border-left: none;
}

.square:nth-child(6) {
  border-right: none;
  border-left: none;
}

.square:nth-child(7) {
  border: none;
}

.square:nth-child(8) {
  border-top: none;
  border-bottom: none;
}

.square:nth-child(9) {
  border: none;
}

footer {
  display: flex;
  justify-content: center;

  gap: 1rem;
  color: #808080;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div p:last-child {
  margin-top: -2px;
  font-size: 1.4rem;
  font-weight: 700;
}

.white {
  color: white;
}
